body {
    background-image: url("myBackground.jpg");
    width: 800px;
    margin: 0;
    font-size: 0px;
}

#nav-table {
    background-color: rgb(1, 15, 36);
}

table {
  width: 800px;
  margin: 0;
}

td {
  width: 200px;
  text-align: center;
}
